
.list {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 540px;
    overflow: auto;
}

.list-item {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    height: 40px;
    margin-bottom: 5px;
}

.list-item > button {
    text-decoration: underline;
    color: dimgrey;
    background-color: #cfcfcf;
    border: 3px solid #bfbfbf;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.list-item > button.selected {
    background-color: #787878;
    border: 3px solid #454545;
    color: #dfdfdf;
}

.list-item > button:hover {
    color: indianred;
}